body {
    color: #38bae6;
}

#profile {
    display: block;

}

.index-point {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #9d9487;
    border: 1px solid black;
    display: inline-block;

}

.index-point-active {
    background-color: red;
}